<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container m-0">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <!-- <a target="_blank" rel="noopener" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net -->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
